node_modules/
/puppeteerScripts/*
!/puppeteerScripts/demo.js
/result.xlsx
test/result.xlsx
logs/logs/
test/logs/
puppeteer-recorder/node_modules/
puppeteer-recorder/.DS_Store
puppeteer-recorder/.idea
puppeteer-recorder/build
puppeteer-recorder/dist
puppeteer-recorder/dist-zip
puppeteer-recorder/*.pem
puppeteer-recorder/*.crx